{% extends 'base.html.twig' %}

{% macro niceForm(form) %}

    <div class=" row quotation-line-section mt-40" >
        <div class="col-lg-3 quotationLine-field">
            {{ form_row(form.product) }}
        </div>
        <div class="col-lg-3 quotationLine-field">
            {{ form_row(form.vat) }}
        </div>
        <div class="col-lg-3 quotationLine-field">
            {{ form_row(form.quantity) }}
        </div>
        <div class="col-lg-3 quotationLine-field">
            {{ form_row(form.unitPrice) }}
        </div>
        <div class="col-lg-3 quotationLine-field">
            {{ form_row(form.discount) }}
        </div>
        <div class="col-lg-3 quotationLine-field">
            {{ form_row(form.totalHt) }}
        </div>
        <div class="col-lg-3 quotationLine-field">
            {{ form_row(form.amount) }}
        </div>
    </div>
{% endmacro %}

{% import _self as formMacros %}
{% block body %}
    <div class="page-title-area d-flex align-items-center bg_cover"
         style="background-image: url({{ asset('assets/images/page-title-bg.jpg') }});">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-content text-center">
                        <h3 class="title">Contact</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('3dtech_index') }}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Contact</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-25 pb-25" id="quotation-form" data-quotation-id="{{ quotation.id }}">
        <div class="faq-box-area faq-box-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="faq-box white-bg">
                            <div class="row">
                                <div class="col-lg-6 offset-3">
                                    <h3> Creation de devis</h3>
                                </div>
                                <div class="col-lg-12">
                                    {% include 'common/menu_admin.html.twig' %}
                                </div>

                            </div>
                            <div class="faq-form">
                                <div class="faq-title">
                                    {{ form_start(form) }}
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="input-box mb-15">
                                                {{ form_row(form.status) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-box mb-15">
                                                {{ form_row(form.deadline) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-box">
                                                {{ form_row(form.payment) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-box">
                                                {{ form_row(form.name) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-box">
                                                {{ form_row(form.reference) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-box">
                                                {{ form_row(form.designation) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-box">
                                                {{ form_row(form.quotationDate) }}
                                            </div>
                                        </div>
                                    </div>{# end Row #}
                                    <div class="row">
                                        <ul id="option-fields-list" class="options-block"
                                            data-prototype="{{ formMacros.niceForm(form.quotationLine.vars.prototype)|e }}"
                                            data-widget-quotationLine="{{ '<li class="list-unstyled"></li>'|e }}"
                                            data-widget-counter="{{ form.quotationLine|length }}">
                                            {% for quotationLineField in form.quotationLine %}
                                                <div class="col-auto">{{ form_errors(quotationLineField) }}</div>
                                                <li class="list-unstyled" data-quotation-line-id="{{ quotationLineField.vars.value.id}}">
                                                    {{ formMacros.niceForm(quotationLineField.children) }}
                                                    <div class="input-box col-lg-12 quotationLine-field">
                                                        <a href="javacript:void(0)"
                                                           class="delete-link-edit"
                                                           style="float: right; color: red">
                                                            <i class="fa fa-4x fa-trash" data-toggle="tooltip"
                                                               data-placement="top"
                                                               title="{{ 'app.label.product_delete'|trans }}"></i>
                                                        </a>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="row mt-20">
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="input-box">
{#                                                {{ form_row(form.deposit) }}#}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="input-box">
                                                {{ form_row(form.totalHt) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="input-box">
                                                {{ form_row(form.amount) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="input-box">
                                                {{ form_row(form.description) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button class="main-btn mt-35" type="submit">Envoyer</button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>

    </div>
    {% include 'common/brand_section.html.twig' %}
    {% include 'common/subcribe_part.html.twig' %}
{% endblock %}
