{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-title-area d-flex align-items-center bg_cover"
         style="background-image: url({{ asset('assets/images/page-title-bg.jpg') }});">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-content text-center">
                        <h3 class="title">Contact</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('3dtech_index') }}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Liste des devis</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-25 pb-25">
        <div class="quotation-list">
            <div class="row">
                <div class="col-lg-12">
                    <h4 title=""
                </div>
                <div class="col-lg-12">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Paiement</th>
                            <th scope="col">TTC</th>
                            <th scope="col">HT</th>
                            <th scope="col">Date de création</th>
                            <th scope="col">Editer</th>
                            <th scope="col">Supprimer</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for quotation in quotations %}
                            <tr>
                                <td>{{ quotation.id }}</td>
                                <td>{{ quotation.name }}</td>
                                <td>{{ quotation.payment }}</td>
                                <td>{{ quotation.amount }}</td>
                                <td>{{ quotation.totalHt }}</td>
                                <td>{{ quotation.createdAt|date }}</td>
                                <td><a href="{{ path('edit_quotation', { id : quotation.id }) }}"><i class="fa fa-edit"></i></a></td>
                                <td><a href="{{ path('remove_quotation', { id : quotation.id }) }}"><i style="color: red" class="fa fa-trash"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>

    </div>
    {% include 'common/brand_section.html.twig' %}
    {% include 'common/subcribe_part.html.twig' %}
{% endblock %}
