{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}

  <p>Change password</p>

  {{ form_start(form) }}

    {{ form_label(form.currentPassword) }}
    {{ form_row(form.currentPassword) }}

    {{ form_label(form.newPassword) }}
    {{ form_row(form.newPassword) }}

  {{ form_end(form) }}

{% endblock %}
