{% extends 'account/base.html.twig' %}

{% block title %}Edit profile{% endblock %}

{% block body %}

  <p>Edit profile</p>

  {{ form_start(form) }}

    {{ form_label(form.lastName) }}
    {{ form_row(form.lastName) }}

    {{ form_label(form.firstName) }}
    {{ form_row(form.firstName) }}

    {{ form_label(form.phone) }}
    {{ form_row(form.phone) }}

    {{ form_label(form.address.address) }}
    {{ form_row(form.address.address) }}

    {{ form_label(form.address.postalCode) }}
    {{ form_row(form.address.postalCode) }}

    {{ form_label(form.address.city) }}
    {{ form_row(form.address.city) }}

    {{ form_label(form.address.country) }}
    {{ form_row(form.address.country) }}

    {{ form_label(form.company) }}
    {{ form_row(form.company) }}

    {{ form_label(form.siret) }}
    {{ form_row(form.siret) }}

    {{ form_label(form.type) }}
    {{ form_row(form.type) }}

    <button type="submit" class="btn btn-primary">Validate</button>

  {{ form_end(form) }}

  <a href="{{ path('change_password') }}" class="btn">Change Password</a>

{% endblock %}
