{% extends 'base.html.twig' %}

{% block title %}Solutions informatiques des PME!{% endblock %}
{% block body %}

    <div class="page-title-area d-flex align-items-center bg_cover" style="background-image: url({{ asset('assets/images/page-title-bg.jpg') }});">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-content text-center">
                        <h3 class="title">Solutions informatiques des PME</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('ask_of_quote') }}">Les 6 services inclus dans votre pack
                                        maintenance informatique
                                    </a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a
                                            href="{{ path('ask_of_quote') }}">en profiter</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

<section class="services-area discover-all">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h4>AUGMENTEZ VOTRE PERFORMANCE GRÂCE À NOS SOLUTIONS INFORMATIQUES</h4>
                <p>Sécurité, messagerie pro, matériels, internet et réseau, cloud, sauvegarde et logiciels</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
                <div class="services-item mt-80">
                    <div class="services-thumb">
                        <img src="{{ asset('assets/images/3dtech-informatique-securite.png') }}" alt="">
                    </div>
                    <div class="services-item-content">
                        <h5 class="title">Sécurité du réseau</h5>
                        <p>Sécurisation du réseau informatique d’entreprise : Antivirus, antispam, pare-feu, filtrage de contenu web.</p>
                        <a href="{{ path('it_net_work_security') }}">Lire la suite</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
                <div class="services-item mt-80">
                    <div class="services-thumb">
                        <img src="{{ asset('assets/images/3dtech-informatique-mail-pro.png.jpg') }}" alt="">
                    </div>
                    <div class="services-item-content">
                        <h5 class="title">Messagerie pro</h5>
                        <p>Configuration et gestion de votre messagerie pro : Microsoft exchange, Office 365 Business essentials.</p>
                        <a href="{{ path('personal_messaging') }}">Lire la suite</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
                <div class="services-item mt-80">
                    <div class="services-thumb">
                        <img src="{{ asset('assets/images/3dtech-informatique-ordinateurs.jpg') }}" alt="">
                    </div>
                    <div class="services-item-content">
                        <h5 class="title">Équipements IT</h5>
                        <p>ourniture et installation de matériels informatiques professionnels : PC, Portable, Serveur, switch…</p>
                        <a href="{{ path('computer_equipment') }}">Lire la suite</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
                <div class="services-item mt-80">
                    <div class="services-thumb">
                        <img src="{{ asset('assets/images/3dtech-informatique-internet.jpg') }}" alt="">
                    </div>
                    <div class="services-item-content">
                        <h5 class="title">Accès internet</h5>
                        <p>Accès internet très haut débit pour entreprise : ADSL, VDSL, SDSL, Fibre optique, connexion multi-sites.</p>
                        <a href="{{ path('internet_pro_access') }}">Lire la suite</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
                <div class="services-item mt-80">
                    <div class="services-thumb">
                        <img src="{{ asset('assets/images/3dtech-informatique-cloud-daas.png') }}" alt="">
                    </div>
                    <div class="services-item-content">
                        <h5 class="title">Cloud entreprise</h5>
                        <p>Externalisation et migration de serveur Cloud : Sauvegarde et hébergement serveur, SAAS, DAAS, PRA.</p>
                        <a href="{{ path('cloud_entreprise') }}">Lire la suite</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
                <div class="services-item mt-80">
                    <div class="services-thumb">
                        <img src="{{ asset('assets/images/3dtech-informatique-wifi.jpg') }}" alt="">
                    </div>
                    <div class="services-item-content">
                        <h5 class="title">Réseau WIFI</h5>
                        <p>Externalisation et migration de serveur Cloud : Sauvegarde et hébergement serveur, SAAS, DAAS, PRA.</p>
                        <a href="{{ path('company_wifi_network') }}">Lire la suite</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
                <div class="services-item mt-80">
                    <div class="services-thumb">
                        <img src="{{ asset('assets/images/3dtech-informatique-sauvegarde.jpg') }}" alt="">
                    </div>
                    <div class="services-item-content">
                        <h5 class="title">Sauvegarde externe</h5>
                        <p>Sauvegarde externalisée et sécurisée de vos données d’entreprise : Stockage managé, réplication et restauration.</p>
                        <a href="{{ path('out_sourced_backup') }}">Lire la suite</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">
                <div class="services-item mt-80">
                    <div class="services-thumb">
                        <img src="{{ asset('assets/images/3dtech-informatique-logiciels.jpg') }}" alt="">
                    </div>
                    <div class="services-item-content">
                        <h5 class="title">Logiciels et Apps</h5>
                        <p>Installation et gestion de vos logiciels : bureautique, messagerie, licence serveur, antivirus, logiciels métiers, etc…</p>
                        <a href="{{ path('office_software') }}">Lire la suite</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-9">

            </div>
        </div>
    </div>
</section>


<!--====== CLEAN DESIGNS PART ENDS ======-->

<!--====== FAQ PART START ======-->

<section class="faq-area faq-about bg_cover pt-115 pb-120">

</section>
<div class="faq-box-area faq-box-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
    </div>
</div>

{% include 'common/brand_section.html.twig' %}
<!--====== BRAND PART ENDS ======-->

<!--====== SUBSCRIBE PART START ======-->

  <!--====== SUBSCRIBE PART START ======-->
  {% include 'common/subcribe_part.html.twig' %}
  <!--====== SUBSCRIBE PART ENDS ======-->
{% endblock %}
