{% extends 'account/base.html.twig' %}

{% block title %}Order list{% endblock %}

{% block body %}

  <p>Order list</p>

  {% if list is empty %}
    You don't have any orders
  {% else %}
    <table class="table">
      <thead>
      <tr>
        <th align="left">
          Reference
        </th>
        <th align="left">
          Date
        </th>
        <th align="left">
          Total amount
        </th>
        <th align="center">
          Status
        </th>
        <th align="center">
          Action
        </th>
        <th align="left"></th>
      </tr>
      </thead>
      <tbody>
      {% for item in list %}
        <tr>
          <td align="left">
            {{ item.reference }}
          </td>
          <td align="left">
            {{ item.date|date('d-m-Y H:i') }}
          </td>
          <td align="center">
            {{ item.amount + item.amountOption }} <br/>
          </td>
          <td align="left">
            {{ item.status }}
          </td>
          <td align="center">
            {% if item.type == constant('App\\Entity\\Order::TYPE_QUOTATION') %}
              <a href="{{ path('payment', {id: item.id}) }}">To bill</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {{ knp_pagination_render(list) }}
  {% endif %}

{% endblock %}
