<div class="brand-area pt-120 all-brand">
  <div class="container">
    <div class="row brand-active">
      <div class="col-lg-3">
        <div class="brand-item text-center">
          <a href="#"><img src="{{ asset('assets/images/3dtech-intel-logo.jpg') }}" alt="brand"></a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="brand-item text-center ">
          <a href="#"><img src="{{ asset('assets/images/3dtech-Dell-Emblem.jpg') }}" alt="brand"></a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="brand-item text-center">
          <a href="#"><img src="{{ asset('assets/images/3dtech-hp-logo.jpg') }}" alt="brand"></a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="brand-item text-center">
          <a href="#"><img src="{{ asset('assets/images/3dtech-lenovo-logo.png') }}" alt="brand"></a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="brand-item text-center">
          <a href="#"><img src="{{ asset('assets/images/3dtech-apple-logo.png') }}" alt="brand"></a>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="brand-item text-center">
          <a href="#"><img src="{{ asset('assets/images/3dtech-indows-logo.png') }}" alt="brand"></a>
        </div>
      </div>
    </div>
  </div>
</div>
