<footer class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-10">
        <div class="footer-content mt-30">
          <a href="{{ path('3dtech_index') }}"><img src="{{ asset('assets/images/Logo3D.png') }}" alt="logo"></a>
          <p>Maintenance et Infogerance</p>
          <ul>
            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="footer-list mt-30">
          <h3 class="title">À PROPOS</h3>
          <ul>
            <li><a href="{{ path('maintenance_park') }}">Maintenance informatique</a></li>
            <li><a href="{{ path('computer_maintance') }}">Solutions informatiques des PME</a></li>
            <li><a href="{{ path('ask_of_quote') }}">Votre devis en ligne</a></li>
            <li><a href="{{ path('recruit') }}">Espace recrutement</a></li>
            <li><a href="#">Nos mentions légales</a></li>
            <li><a href="{{ path('contact') }}">Nous contacter</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="footer-list item-2 mt-30 pl-45">
          <h3 class="title">SERVICES INFORMATIQUES</h3>
          <ul>
            <li><a href="{{ path('computer_park_supervision') }}">Infogérance informatique PME</a></li>
            <li><a href="{{ path('out_sourced_backup') }}">Service informatique externalisé</a></li>
            <li><a href="#">Hotline informatique</a></li>
            <li><a href="#">Informatique d’entreprise</a></li>
            <li><a href="#">Installation informatique</a></li>
            <li><a href="#">Sous-traitance informatique</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-list item-2 mt-30 pl-45">
          <h3 class="title">SOLUTIONS PME</h3>
          <ul>
            <li><a href="{{ path('cloud_entreprise') }}">Solution Cloud entreprise DAAS</a></li>
            <li><a href="{{ path('office_software') }}"> Logiciels et licences</a></li>
            <li><a href="{{ path('computer_equipment') }}">Équipements informatiques</a></li>
            <li><a href="{{ path('personal_messaging') }}">Messagerie professionnelle</a></li>
            <li><a href="{{ path('it_net_work_security') }}">Réseau Wifi et portail captif</a></li>
            <li><a href="{{ path('internet_pro_access') }}">Accès internet professionnel</a></li>
            <li><a href="{{ path('out_sourced_backup') }}">Sauvegarde externalisée</a></li>
            <li><a href="{{ path('it_net_work_security') }}"> Sécurité informatique et réseau</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="footer-copyright-item">
            <p>© 3DTECH  {{ "now"|date("Y") }} | All Rights Reserved</p>
            <ul>
              <li><a href="#">Accueil</a></li>
              <li><a href="#">A propos</a></li>
              <li><a href="#">Service</a></li>
              <li><a href="#">Solution PME</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
