<header class="header-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="header-top d-flex justify-content-between">
          <div class="header-top-info d-none d-md-block">
            <ul>
              <li><a href="#"><i class="fa fa-map-marker"></i> Tanta AlGharbia, Egypt.</a></li>
              <li><a href="#"><i class="fa fa-envelope"></i> brorex@mail.com</a></li>
            </ul>
          </div>
          <div class="header-top-social">
            <select>
              <option value="1">English</option>
              <option value="2">Francais</option>
            </select>
            <ul>
              <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="navigation">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="{{ path('3dtech_index') }}">
              <img src="{{asset('assets/images/logo.png') }}" alt="Logo">
            </a> <!-- logo -->

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarFive" aria-controls="navbarFive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button> <!-- navbar toggler -->
            <div class="collapse navbar-collapse sub-menu-bar" id="navbarFive">
              <ul class="navbar-nav m-auto">
                <li class="nav-item">
                  <a class="page-scroll" href="{{ path('3dtech_index') }}">3Dtech</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="{{ path('3dtech_partners') }}">Partenaires</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="{{  path('3dtech_engagements') }}">Nos engagements</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="{{  path('3dtech_jobs') }}">Nos métiers</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="{{  path('3dtech_clients') }}">Nos clients </a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="{{  path('3dtech_hiring') }}">Nous recrutons </a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="{{  path('3dtech_contact') }}">contact</a>
                </li>
              </ul>
            </div>
            <div class="navbar-btn d-none d-sm-inline-block">
              <a class="main-btn ml-20" href="{{ path('user_login') }}">Login<i class="flaticon-right-arrow"></i></a>
            </div>
          </nav> <!-- navbar -->
        </div>
      </div>
    </div>
  </div>
</header>
