{% extends 'base.html.twig' %}
{% block body %}
    <div class="page-title-area d-flex align-items-center bg_cover"
         style="background-image: url({{ asset('assets/images/page-title-bg.jpg') }});">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-content text-center">
                        <h3 class="title">Contact</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('ask_of_quote') }}">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Contact</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-area pt-90 pb-120 contact-items">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="contact-item text-center mt-30">
                        <i class="flaticon-location"></i>
                        <h4 class="title">Adresse</h4>
                        <ul>
                            <li>717 rue de la chapelle</li>
                            <li>78955 Carrières sous Poissy</li>
                            <li>FRANCE</li>
                        </ul>
                        <a class="main-btn" href="#">itinéraire</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-item text-center mt-30">
                        <i class="flaticon-dial-pad"></i>
                        <h4 class="title">Téléphone</h4>
                        <ul>
                            <li> Telephone :{{'app.tel'|trans }}</li>
                            <li></li>
                            <li></li>
                        </ul>
                        <a class="main-btn" href="#">Nous joindre</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-item text-center mt-30">
                        <i class="flaticon-email"></i>
                        <h4 class="title">Email</h4>
                        <ul>
                            <li>{{'app.email'|trans}}</li>
                            <li></li>
                            <li></li>
                        </ul>
                        <a class="main-btn" href="#">Nous ecrire</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== CONTACT PART ENDS ======-->

    <!--====== CONTACT PART ENDS ======-->
    <div class="google-map">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2620.863976395637!2d2.0176815161261636!3d48.93703257929532!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e689516879773f%3A0x9baf7de046d805e2!2s717%20Rue%20de%20la%20Chapelle%2C%2078955%20Carri%C3%A8res-sous-Poissy!5e0!3m2!1sen!2sfr!4v1609595048217!5m2!1sen!2sfr"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
        </iframe>
    </div>
    <!--====== CONTACT PART ENDS ======-->

    <!--====== FAQ PART START ======-->

    <section class="faq-area faq-about bg_cover pt-115 pb-120" style="background-image:
            url({{ asset('assets/images/faq-bg.jpg') }});">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <span>FAQs</span>
                        <h3 class="title">Nous ecrire </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="faq-box-area faq-box-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="faq-box white-bg">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="faq-form">
                                    <div class="faq-title">
                                        <h4 class="title">Votre question</h4>
                                    </div>
                                    {{ form_start(form) }}
                                        <div class="input-box mt-20">
                                            {{ form_row(form.name) }}
                                        </div>
                                        <div class="input-box mt-20">
                                            {{ form_row(form.email) }}
                                        </div>
                                        <div class="input-box mt-20">
                                            {{ form_row(form.message) }}
                                            <button class="main-btn mt-35" type="submit">Envoyer</button>
                                        </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'common/brand_section.html.twig' %}
    {% include 'common/subcribe_part.html.twig' %}
{% endblock %}
