{% extends 'base.html.twig' %}

{% block title %}Location{% endblock %}

{% block body %}
  Location

  {{ form_start(form) }}

    {% for location in form.options %}
      {{ location.vars.value.type }}
      {{ form_row(location.amount) }}
    {% endfor %}

  {{ form_end(form) }}

  {% include 'front/order/summary.html.twig' with {order: order} only %}
  
  <a href="{{ path('payment', {id: order.id}) }}" class="btn">Next step</a>
{% endblock %}
