{% extends 'base.html.twig' %}

{% block title %}Hello MaintenanceParkController!{% endblock %}
{% block body %}
    <div class="page-title-area d-flex align-items-center bg_cover"
         style="background-image: url({{ asset('assets/images/page-title-bg.jpg') }});">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title-content text-center">
                        <h3 class="title">Sauvegarde externalisée</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{ path('ask_of_quote') }}">Les 6 services inclus dans votre pack
                                        maintenance informatique
                                    </a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a
                                            href="{{ path('ask_of_quote') }}">en profiter</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--====== SERVICES DETAILS PART START ======-->

    <section class="services-details-area pt-90 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                {% include 'common/service_details_start.html.twig' %}
                <div class="col-lg-8 order-lg-2 order-1">
                    <div class="services-details-content mt-30">
                        <div class="services-details-thumb">
                            <img src="assets/images/idtechidf-mail-pro-exhange" alt="">
                            <span>Sauvegarde externalisée</span>
                            <h3 class="title">SAUVEGARDE EXTERNALISÉE DE VOS DONNÉES</h3>
                            <p>
                            <h6>Une stratégie de stockage externalisé et sécurisé des données d’entreprise</h6>
                            Dans le cadre de nos contrats de services nos ingénieurs mettent en place, et ce dès le
                            début de la prestation, une stratégie de sauvegarde de vos données. Plusieurs possibilités
                            sont mises en avant afin de s’adapter à votre infrastructure à vos besoins et à vos budgets.
                            </p>
                            <p>
                                Lorsque cela est possible nous proposons toujours de doubler vos sauvegardes locales
                                avec des sauvegardes externalisées en data center. L’objectif étant de sécuriser au
                                maximum vos données pour que rien ne se perd : Stockage managé, réplication et
                                restauration de vos sauvegardes.
                            </p>

                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-md-12">
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="services-details-play-content">
                                <p>
                                    Partager vos agendas, contacts et fichiers collaboratifs.
                                    Utiliser votre propre nom de domaine (www.votre-société.fr)
                                    Protéger vos mails contre les spams et les virus.
                                    Synchroniser et accéder à vos mails en tous lieux.
                                    Archiver et sauvegarder vos mails.
                                </p>
                            </div>
                        </div><div class="col-lg-12 col-md-12">
                            <div class="services-details-play-content">
                                <h6>Protégez votre entreprise des piratages et des pertes de données</h6>
                                <div class="services-details-play">
                                    <img src="{{ asset('assets/images/3dtechidf-sauvegarde-externalisee.png') }}"
                                         alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center mt-45">
                        <div class="col-lg-12 col-md-12">
                            <div class="services-details-play-content">
                                <h4 class="title">UNE MESSAGERIE UNIFIÉE, UN TRAVAIL COLLABORATIF !</h4>
                                <p>
                                    Grâce à une messagerie unifiée mise en place par nos soins, vous améliorez la
                                    mobilité de vos collaborateurs et vous gagnez en efficacité. Vos fichiers , agendas,
                                    mails, contacts, etc… sont désormais accessibles à distance sur tous vos terminaux.
                                </p>
                                <p>
                                    Pare feu, antivirus managé, filtrage web, politique de droits d’accès de vos
                                    fichiers partagés sont autant d’outils que nous mettons en place pour sécuriser
                                    votre infrastructure informatique.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="services-details-play">
                                <img src="{{ asset('assets/images/i3dtechidf-email-professionnel.png') }}"
                                     alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    {% include 'common/brand_section.html.twig' %}

    <!--====== BRAND PART ENDS ======-->

    <!--====== SUBSCRIBE PART START ======-->

    {% include 'common/subcribe_part.html.twig' %}
{% endblock %}
