{% extends 'base.html.twig' %}
{% block body %}
  <section class="faq-area faq-about bg_cover pt-115 pb-120">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-title text-center">
            <span>3Dtech</span>
            <h3 class="title">Inscription </h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="faq-box-area faq-box-about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="faq-box white-bg">
            <div class="row">
              <div class="col-lg-12">
                <div class="faq-form">
                  <div class="faq-title">
                    <h4 class="title">Inscription</h4>
                  </div>
                  {{ form_start(form) }}

                  <div class="input-box mt-20">
                    {{ form_row(form.client.address.country) }}
                  </div>
                  <div class="input-box mt-20">
                    {{ form_row(form.email) }}
                  </div>
                  <div class="input-box mt-20">
                    {{ form_row(form.plainPassword) }}
                  </div>
                  <div class="input-box mt-20">
                    {{ form_row(form.client.lastName) }}
                  </div>
                  <div class="input-box mt-20">
                    {{ form_row(form.client.mobilePhone) }}
                  </div>
                  <div class="input-box mt-20">
                    {{ form_row(form.client.homePhone) }}
                  </div>
                  <div class="input-box mt-20">
                    {{ form_row(form.client.firstName) }}
                  </div>
                  <div class="input-box mt-20">
                    {{ form_row(form.client.company) }}
                  </div>
                  <div class="input-box mt-20">
                    {{ form_row(form.client.siret) }}
                  </div>
                  <div class="input-box mt-20">
                    {{ form_row(form.client.address.address) }}
                  </div>
                  <div class="input-box mt-20">
                    {{ form_row(form.client.address.postalCode) }}
                  </div>
                  <div class="input-box mt-20">
                    {{ form_row(form.client.address.city) }}
                  </div>
                  <div class="input-box mt-20">
                    {{ form_row(form.submit, {'attr':{'class': 'main-btn mt-35'}}) }}
                  </div>
                  {{ form_row(form._token) }}

                  {{ form_start(form) }}
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--====== FAQ PART ENDS ======-->

  <!--====== BRAND PART START ======-->

  <div class="brand-area pt-120">
  </div>

  <!--====== BRAND PART ENDS ======-->

  <!--====== SUBSCRIBE PART START ======-->

  <div class="subscribe-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="subscribe-box">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="subscribe-info pl-65">
                  <h3 class="title">Need Consultation?</h3>
                  <ul>
                    <li><a href="tel:+84935815989">Phone: +84 935 815 989</a></li>
                    <li><a href="mailto:borexonline@mail.com">Email: borexonline@mail.com</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="subscribe-info pl-50 pr-70">
                  <h3 class="title">Need Consultation?</h3>
                  <form action="#">
                    <div class="input-box">
                      <input type="email" placeholder="Email">
                      <button type="button">Subscribe</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
