{% extends 'base.html.twig' %}

{% block body %}
  <h2>Liste des incidens</h2>

  <table>
    <tr>
      <td> <a href="{{ path('middle_incidents_export') }}">Export</a> </td>
    </tr>
  {% for incident in listIncident %}
    <tr>
      <td>{{ incident.id }} - </td>
      <td>{{ incident.description }}</td>
      <td> <a href="{{ path('middle_incident', {'id': incident.id}) }}">Détail</a> </td>
      <td> <a href="{{ path('middle_incident_close', {'id': incident.id}) }}">Cloturer</a> </td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
