{% extends 'base.html.twig' %}

{% block body %}
  <h2>Gestion des incidens</h2>

  {{ form_start(form) }}
    {{ form_label(form.lastName) }}
    {{ form_widget(form.lastName) }}

    {{ form_label(form.firstName) }}
    {{ form_widget(form.firstName) }}

    {{ form_label(form.description) }}
    {{ form_widget(form.description) }}

    {{ form_row(form.submit) }}
  {{ form_end(form) }}

{% endblock %}
