<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ 'app.name'|trans }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="description" content="{{ 'app.description'|trans }}">

        <!-- Styles -->
        <link rel="stylesheet" href="{{ asset('build/vendors/material-design-iconic-font/dist/css/material-design-iconic-font.min.css') }}">
        {{ encore_entry_link_tags('main.min') }}

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('images/favicons/apple-touch-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('images/favicons/apple-touch-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('images/favicons/apple-touch-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('images/favicons/apple-touch-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('images/favicons/apple-touch-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('images/favicons/apple-touch-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('images/favicons/apple-touch-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('images/favicons/apple-touch-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicons/apple-touch-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('images/favicons/android-chrome-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicons/favicon-16x16.png') }}">
        <meta name="msapplication-TileColor" content="#D53001">
        <meta name="theme-color" content="#D53001">
        <meta name="apple-mobile-web-app-title" content="{{ 'app.name'|trans }}"><meta name="application-name" content="{{ 'app.name'|trans }}">
    <body>
        {% if google_manager_account %}
          <!-- Google Tag Manager (noscript) -->
          <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ google_manager_account }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
          <!-- End Google Tag Manager (noscript) -->
        {% endif %}

        {% block body %}{% endblock %}
        {% include 'front/subscriber/newsletter.html.twig' %}
        {% block javascripts %}{% endblock %}

        <script type="text/javascript" src="{{ asset('vendors/tarteaucitronjs/tarteaucitron.js') }}"></script>

        <script type="text/javascript">
          if ('{{ app.request.locale }}' == 'fr') {
            var tarteaucitronCustomText = {
              "alertBigPrivacy": "Nous utilisons des cookies pour améliorer l'expérience de votre site Web.<br/>Vous pouvez les désactiver à tout moment dans les paramètres de votre navigateur",
              "personalize": "Personnaliser",
              "acceptAll": "<span>D'accord</span>",
            };
          }

          tarteaucitron.init({
            "privacyUrl": "", /* Privacy policy url */

            "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
            "cookieName": "tarteaucitron", /* Cookie name */

            "orientation": "middle", /* Banner position (top - bottom) */

            "showAlertSmall": false, /* Show the small banner on bottom right */
            "cookieslist": false, /* Show the cookie list */

            "showIcon": true, /* Show cookie icon to manage cookies */
            "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */

            "adblocker": false, /* Show a Warning if an adblocker is detected */

            "DenyAllCta" : true, /* Show the deny all button */
            "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
            "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */

            "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

            "removeCredit": false, /* Remove credit link */
            "moreInfoLink": true, /* Show more info link */

            "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
            "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */

            //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */

            "readmoreLink": "", /* Change the default readmore link */

            "mandatory": true, /* Show a message about mandatory cookies */
          });
        </script>

        {% if google_manager_account %}
          <script type="text/javascript">
            tarteaucitron.user.googletagmanagerId = '{{ google_manager_account }}';
            (tarteaucitron.job = tarteaucitron.job || []).push('googletagmanager');
          </script>
        {% endif %}

        <!-- Scripts -->
        {{ encore_entry_script_tags('front') }}


    </body>
</html>
